body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.table {
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
    width: 80%;
}

table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 10px; 
    border: 1px solid #ddd; 
}

select {
    width: 100%;
    border: 1px solid #ddd; 
}

th, td {
    
    padding: 10px; 
    border: 1px solid #ddd; 
    text-align: left; 
}



thead {
    background-color: #f4f4f4; 
}

tr:nth-child(even) {
    background-color: #f9f9f9; 
}

tr:hover {
    background-color: #f1f1f1; 
}

.input-fields-number , .input-fields-text{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
}

.input-fields-text {
    width: 100%; 
}

.input-fields-number {

    width: 85%;
}

.input-fields [type="submit"] {
    padding: 5px 10px; 
    font-size: 16px; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    background-color: #007bff;
    color: white; 
    cursor: pointer;
}

.input-fields [type="submit"]:hover {
    background-color: #0056b3; 
}

.controls {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin: 10px;
}

@media (max-width: 768px) {
    .table {
        width: 100%;
    }
}
